:root{

    --mainColor:  #ffffff;
    --secondcolor: #000000;

    --gutter: gap: 16px;
}

*,
::after,
::before{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* 
*{
    border: 1px solid red;
} */

body{
    margin: 0;
    padding: 0;
    border: none;
}

header{
    height: 75vh;
}

h1{
    margin: 0;
    color: var(--mainColor);
    font-size: 80px;
}

h2{
    font-size: 35px;
}

h3{
    color: var(--secondcolor2);
    font-size: 25px;
    text-align: center;
    margin: 0;
}

p{
    font-size: 16px;
}

span{
    color: var(--mainColor);
    font-size: 30px;
}

a{
    text-decoration: none;
    color: var(--mainColor);
    font-weight: 600;
    padding-right: 15px;
    position: relative;
    font-size: 15px;
}

footer{
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 25px;
    margin-top: 25px;
    color: var(--secondcolor);
    
}

footer img{
    width: 50px;
    height: 50px;
}


/* Portafolio */
.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navegador nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navegador a:hover {
    color: gray;
    text-decoration: underline;
}

.logo{
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 10%;
}

.logo img{
    width: 80px;
    height: 80px;
}

.hero-container{
    background: url(./img/code-1076536_1280.jpg) center / cover;
    position: relative;
}

.hero-container::before{
    content: "";
    background: var(--secondcolor);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.hero-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.img_proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-proyecto img{
    width: 600px;
    height: 400px;
    margin: 0;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.content_proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
}

.proyectos{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.container-proyecto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.redes{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(128, 128, 128, 0.557);
    padding: 10px;
}
/* blog en 1.6rem interlineado*/

/* Nosotros */

.logo-nosotros{
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-nosotros img{
    width: 130px;
    height: 130px;
}

.sobre-mi{
    text-align: center;
    width: 60vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sobre-mi p{
    font-size: 18px;
}

.sobre-mi h2{
    margin: 0;
}

.mi-rutina{
    text-align: start;
    width: 60vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.mi-rutina li{
    font-size: 18px;
}

.title-galeria{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
}

.contain-photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.img-galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
}

.img-galeria img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.img-galeria::before{
    transition: all .5s ease-in;
    background-color: var(--secondcolor);
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}
.img-galeria:hover::before{
    opacity: .6 ;
}

.galeria p{
    font-size: 20px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.section_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.content-galeria h3{
    text-align: start;
}


/* Contacto */

.formulario{
    width: 400px;
    background: var(--secondcolor);
    color: var(--mainColor);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0, auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 7px 13px 37px var(--secondcolor);
}

.formulario h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.inputs {
    width: 100%;
    background: var(--secondcolor);
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gray;
    font-size: 18px;
}

.formulario p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.formulario a:hover {
    color: var(--mainColor);
    text-decoration: underline;
}

.formulario .boton:hover {
    cursor: pointer;
}

.formulario input, textarea{
    color: var(--mainColor);
}

.formulario .boton{
    width: 100%;
    background: none;
    border: 1px solid var(--mainColor);
    padding: 12px;
    color: var(--mainColor);
    margin: 16px 0;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
}

.formulario .boton:hover{
    background: var(--mainColor);
    border: none;
    color: var(--secondcolor);
    transition: 1s;
    -webkit-transition: 0.5s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-weight: bold;
}

.formulario #check{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Blog */

.table{
    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: var(--mainColor);
    background: var(--secondcolor);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 7px 13px 37px var(--secondcolor);
    /* border: 1px solid var(--mainColor); */
    border-collapse: collapse;
}

.div-parrafo {
    text-align: center;
    width: 60vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.div-parrafo p{
    font-size: 18px;
}

.div-parrafo h2{
    margin: 0;
}

.table td{
    text-align: center;
}

.table a:hover{
    text-decoration: underline;
}

.table h2{
    font-size: 25px;
}

th{
    border-bottom: 1px solid var(--mainColor);
}


tr{
    border-bottom: 1px solid var(--mainColor);
}

td{
    padding: 15px;
    /* border-bottom: 1px solid var(--mainColor); */
}

tbody td:hover{
    background: gray;
}